<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="UnionActDb"
         connectionString="Provider=sqloledb;Data Source=172.16.0.2;Initial Catalog=acaoa_dev;User Id=sa;Password=Acaoa2025;"
         providerName="System.Data.OleDb"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <!-- SEQUENCEファイルパス(開発用) -->
    <add key="SequencePath" value="\\172.16.0.2\sji_dev\APL\SEQ\"/>
    <!-- 暗号化キー（公開キー） -->
    <add key="EncryptKey" value="acaoa" />
    <!-- 画面サイズチェックフラグ -->
    <add key="FlgChkDisplaySize" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>

