<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <connectionStrings>
	<!-- データベース接続文字列(運用環境用)  -->
    <!--<add name="UnionActDb" connectionString="Provider=sqloledb;Data Source=172.16.0.2;Initial Catalog=acaoa;User Id=sa;Password=Acaoa2025;" providerName="System.Data.OleDb"/>-->
    <!-- データベース接続文字列(開発用)  -->
    <!--<add name="UnionActDb" connectionString="Provider=sqloledb;Data Source=localhost;Initial Catalog=acaoa;User Id=sa;Password=Bettara-1;" providerName="System.Data.OleDb"/> -->
    <!--<add name="UnionActDb" connectionString="Provider=sqloledb;Data Source=localhost;Initial Catalog=acaoa;User Id=acaoa;Password=acaoa;" providerName="System.Data.OleDb"/> -->
    <add name="UnionActDb" connectionString="Provider=sqloledb;Data Source=WATCH1\SQLEXPRESS01;Initial Catalog=acaoa;User Id=sa;Password=sqlserver;" providerName="System.Data.OleDb"/>
    <!--<add name="UnionActDb" connectionString="Provider=sqloledb;Data Source=172.16.0.2;Initial Catalog=acaoa_dev;User Id=sa;Password=Acaoa2025;" providerName="System.Data.OleDb"/>-->
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <!-- SEQUENCEファイルパス(運用環境用) -->
    <!--<add key="SequencePath" value="\\172.16.0.2\sji\APL\SEQ\"/>-->
	<!-- SEQUENCEファイルパス(開発用) -->
	<add key="SequencePath" value="C:\data\mirai\ACAOA\SEQ\"/>
    <!-- 暗号化キー（公開キー） -->
    <add key="EncryptKey" value="acaoa"/>
    <!-- 画面サイズチェックフラグ -->
    <add key="FlgChkDisplaySize" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <log4net>
    <!-- ログ出力先の定義 -->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- 作成するログファイル -->
      <param name="File" value="C:\ACA\LOG\log-file.txt"/>
      <!-- ログのバックアップ数 -->
   　 　<param name="MaxSizeRollBackups" value="6"/><!-- ログの最大サイズ --><param name="MaximumFileSize" value="20MB"/><!-- ログのローテーション方式 -->
    　　<param name="RollingStyle" value="Size"/><!-- ログの書式 --><layout type="log4net.Layout.PatternLayout"><param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/></layout></appender>
    <root>
      <!-- ログのレベルを指定 -->
      <!-- すべてのログレベルを出力 -->
      <level value="ALL"/>
      <!-- どのログ出力先を使用するか -->
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
